[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
unicorn = "*"
black = "*"
flake8 = "*"
pytest = "*"
uvicorn = "*"
asyncio = "*"
kafka-python = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
chromedriver-autoinstaller = "*"
lxml = "*"
aiohttp = "*"
fastapi-pagination = "*"
python-dotenv = "*"
kq = "*"

[dev-packages]

[requires]
python_version = "3.10"
